html,
body,
#root {
  height: 100%;
  width: 100%;
}
.robo-header {
  padding: 10px;
}

.container-box {
  display: grid;
  height: 100%;
  grid-template-rows: minmax(80px, 1fr) 2fr;
}

@media (max-width: 400px) {
  .container-box {
    grid-template-rows: 1fr;
    row-gap: 10px;
  }
}
