html,
body,
#root {
  height: 100%;
  width: 100%;
  font-size: 1em;
}
.robo-header {
  padding: 10px;
}

.container-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 400px) {
  .container-box {
    grid-template-columns: none;
  }
}
