.direction-arrow:before {
  content: "";
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: auto;
  position: absolute;
}

.east {
  transform: rotate(90deg);
}

.north {
  transform: rotate(0deg);
}

.west {
  transform: rotate(-90deg);
}

.south {
  transform: rotate(180deg);
}

.robot {
  height: 4rem;
  width: 4rem;
  position: absolute;
  transition: all 1s ease 0s;
}

img {
  height: 4rem;
  width: 4rem;
  transition: all 1s ease 0s;
}
